<form {{action 'saveItem' sequenceItem on='submit'}}>
  <div class="row">
    <div class="columns small-10">
      {{input value=sequenceItem.title placeholder='Title'}}
    </div>
    <div class="columns small-2">
      <input type='submit' {{bind-attr class=":button :tiny sequenceItem.isDirty::disabled"}} value='Save'/>
    </div>
    <div class="columns small-12">
      {{textarea value=sequenceItem.commentary.md placeholder='Commentary'}}
    </div>
  </div>
  <div class="row">
    <div class="columns small-12">
      <p>
        <a {{action 'confirmDelete' sequenceItem}}>Remove</a>
      </p>
    </div>
  </div>
</form>
