<div class="row">
  <div class="columns small-12">
    <h3>{{title}}</h3>
    {{#if content.html}}
    <div class="content">
      {{content.html}}
    </div>
    {{/if}}
  </div>
</div>
{{#each sequenceItem in sequenceItems}}
<div class="row">
  <div class="columns small-12">
    <h4>{{sequenceItem.title}}</h4>
    <p>
      {{#link-to 'page.section' sequenceItem.pageSlug sequenceItem.section.sortOrder}}
        ({{sequenceItem.page.title}} : {{sequenceItem.section.sortOrder}})
      {{/link-to}}
    </p>
  </div>
</div>
<div class="row">
  <div class="columns small-12 medium-4">
    {{page-image sizing-rect=view.sectionSizingRect
        bounds-rect=sequenceItem.section.osBounds
        section=sequenceItem.section
        dziUrl=sequenceItem.page.dziUrl}}
  </div>
  {{#with sequenceItem.section}}
    <div class="columns small-12 medium-8 section-content">
      <div class="translation">
        {{{formattedContent}}}
      </div>
      {{partial 'sections/footnotes'}}
    </div>
  {{/with}}
</div>
{{/each}}
