<div class="row">
  <div class="columns small-12">
    <h4>{{title}}</h3>
    {{#if content.html}}
    <div class="content">
      {{content.html}}
    </div>
    {{/if}}
  </div>
</div>
<div class="row">
  <div class="columns small-12">
    <ul>
      {{#each sequenceItem in sequenceItems}}
      <li>
        {{sequenceItem.title}} ({{sequenceItem.page.title}} : {{sequenceItem.section.sortOrder}})
        {{page-image
            sizing-rect=view.sectionSizingRect
            bounds-rect=sequenceItem.section.bounds
            section=sequenceItem.section
            dziUrl=sequenceItem.page.dziUrl}}
      </li>
      {{/each}}
    </ul>
  </div>
</div>
