<header>
  <div class="row">
    <div class="columns large-12 small-12 page-title">
      <h2>{{title}}</h2>
      <p>
        {{#link-to 'treatise.sequences' treatise}}All sequences{{/link-to}}
      </p>
    </div>
  </div>
</header>
{{#if hasContent}}
  <div class="row">
    <div class="columns small-12">
      <div class="content">
        {{{contentHtml}}}
      </div>
    </div>
  </div>
{{/if}}

{{#each sequenceItem in sequenceItems}}
<div class="row sequence-item-row">
  <div class="columns small-12">
    <div class="row">
      <div class="columns small-12">
        <h4>
          {{sequenceItem.title}} &ndash;
          {{#link-to 'page.section' sequenceItem.page.slug sequenceItem.section.sortOrder}}
            {{sequenceItem.page.title}}: {{sequenceItem.section.sortOrder}}
          {{/link-to}}
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="columns small-12 medium-4">
        {{page-image sizing-rect=view.sectionSizingRect
            bounds-rect=sequenceItem.section.osBounds
            section=sequenceItem.section
            dziUrl=sequenceItem.page.dziUrl}}
      </div>
      {{#with sequenceItem.section}}
        <div class="columns small-12 medium-8 section-content">
          <div class="translation">
            {{{formattedContent}}}
          </div>
          {{partial 'sections/footnotes'}}
          {{#if editMode}}
          edit mode
          {{/if}}
        </div>
      {{/with}}
    </div>
  </div>
</div>
{{/each}}
