<h1>{{model.title}}</h1>
<div class="section-content" class="all-sections">
  {{#each model.sectionsSorted as |section| }}
  <div class="section-wrapper">
    <div class="translation" {{action 'sectionClicked' section}}>
      {{{section.formattedContent}}}
    </div>
    <hr />
  </div>
  {{/each}}
  {{partial 'sections/footnotes'}}
  {{copyright-slug content=page.treatise.copyright.html}}
</div>
