<ul class="off-canvas-list">
  <li><label>Treatises</label></li>
  {{#each treatise in controllers.treatises}}
  <li>{{#link-to 'treatise' treatise}}{{treatise.title}}{{/link-to}}</li>
  {{/each}}
</ul>
{{#if page}}
  <ul class="off-canvas-list">
    <li><label>{{title}}</label></li>
    {{#each section in page.sectionsSorted}}
    <li>{{#link-to 'page.section' page.slug section.sortOrder}}Panel {{section.sortOrder}}{{/link-to}}</li>
    {{/each}}
  </ul>
{{/if}}
{{#if controllers.treatise}}
  <ul class="off-canvas-list">
    <li><label>{{treatise.title}}</label></li>
    {{#each page in treatise.pagesSorted}}
    <li>{{#link-to 'page' page}}{{page.title}}{{/link-to}}</li>
    {{/each}}
  </ul>
{{/if}}
