<div id="section-content">
  <div class="translation">
    {{#if media.isMedium}}
    <h4>{{#link-to 'page' page}}{{page.title}}{{/link-to}} : {{sortOrder}}</h4>
    {{/if}}
    {{{formattedContent}}}

  </div>
  {{#if footnotes}}
  <div class="footnotes-wrapper">
    <ul class="no-bullet">
    {{#each footnote in footnotes}}
      <li>{{footnote.reference}}</sup> {{{footnote.content}}}</li>
    {{/each}}
    </ul>
  </div>
  {{/if}}
  <div class="sequences-wrapper">
    {{#unless settings.editMode}}{{#if sequenceItems}}
      <h5>Sequences</h5>
      <ul>
        {{#each sequenceItem in sequenceItems}}
          <li>{{sequenceItem.sequence.title}}</li>
        {{/each}}
      </ul>
    {{/if}}{{/unless}}
    {{#if media.isMedium}}{{#if settings.editMode}}
      <h5>Admin</h5>
      <ul>
        <li>
          <a {{bind-attr href=adminEditLink}} target="_blank">Admin edit page</a>
        </li>
        {{#each sequence in page.treatise.sequences itemController='page/sectionSequences'}}
          <li class='checkbox-list-item'>
            <label>
              {{input type='checkbox' name='attached' checked=sequence.attached}}
              {{sequence.title}}
            </label>
          </li>
        {{/each}}
      </ul>
      {{/if}}{{/if}}
  {{copyright-slug content=page.treatise.copyright.html}}
</div>
