<div id="section-content">
  <div class="translation">
    <h4>Panel {{sortOrder}}</h4>
    {{{formattedContent}}}
    <ul class="inline-list right">
      {{#if settings.editMode}}
        <li>
          <a {{bind-attr href=adminEditLink}} target="_blank">Admin edit page</a>
        </li>
      {{/if}}
      <li>{{#link-to 'page' page}}Back to {{page.title}}{{/link-to}}</li>
    </ul>
    <div class="clearfix"></div>
  </div>
  {{#if footnotes}}
  <div class="footnotes-wrapper">
    {{#each footnote in footnotes}}
      <p><sup>{{footnote.reference}}</sup> {{{footnote.content}}}</p>
    {{/each}}
  </div>
  {{/if}}
  {{copyright-slug content=page.treatise.copyright.html}}
</div>
