<div id="section-content">
  <div class="translation">
    {{#if media.isMedium}}
    <h4>{{#link-to 'page' page}}{{page.title}}{{/link-to}} : {{sortOrder}}</h4>
    {{/if}}
    {{{formattedContent}}}
    {{#if media.isMedium}}
    <ul class="inline-list right">
      {{#if settings.editMode}}
        <li>
          <a {{bind-attr href=adminEditLink}} target="_blank">Admin edit page</a>
        </li>
      {{/if}}
    </ul>
    {{/if}}
    <div class="clearfix"></div>
  </div>
  {{#if footnotes}}
  <div class="footnotes-wrapper">
    <ul class="no-bullet">
    {{#each footnote in footnotes}}
      <li>{{footnote.reference}}</sup> {{{footnote.content}}}</li>
    {{/each}}
    </ul>
  </div>
  {{/if}}
  <div class="sequences-wrapper">
    {{#if sequenceItems}}
    <ul class="no-bullet">
    {{#each sequenceItem in sequenceItems}}
      <li>{{sequenceItem.sequence.title}}</li>
    {{/each}}
    </ul>
    {{/if}}
  </div>
  {{copyright-slug content=page.treatise.copyright.html}}
</div>
