<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar top-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
      </section>

      <ul class="title-area">
        <li class="name">
          <h1 class="title">{{#link-to 'application'}}la incrossada{{/link-to}}</h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li>
            {{#if session.isAnon}}
              {{#link-to 'signin'}}Sign in{{/link-to}}
            {{else}}
              {{#link-to 'signout'}}Sign out{{/link-to}}
            {{/if}}
          </li>
        </ul>
      </section>

    </nav>

    <aside class="left-off-canvas-menu">
      {{outlet leftMenu}}
    </aside>

    <section class="main-section">

      <!-- Content -->
      <div {{bind-attr class=":row pageClass"}}>
        <div class="large-12 columns">
          {{outlet}}
        </div>
      </div>

      <footer {{bind-attr class=":row pageClass"}}>
        <div class="large-12 columns">
          {{outlet footer}}
        </div>
      </footer>
    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>
