<!-- Main Blog Content -->
<header>
  <div class="row">
    <div class="large-6 small-6 columns">
      <h1 class="left">{{#link-to 'treatise' treatise.key}}{{treatise.title}}{{/link-to}}</h1>
    </div>
    <div class="large-6 small-6 columns">
      <ul class="inline-list page-links right">
        {{#if prevPage}}
        <li>
          {{#link-to 'page' prevPage title=prevPage.title}}
            <i class="icon-arrow-left"></i>
          {{/link-to}}
        </li>
        {{/if}}
        {{#if nextPage}}
        <li>
          {{#link-to 'page' nextPage title=nextPage.title}}
            <i class="icon-arrow-right"></i>
          {{/link-to}}
        </li>
        {{/if}}
      </ul>    
    </div>
  </div>
</header>
<div class="row content-row">
  <div class="large-7 medium-8 small-12 columns">
    <h2 class="page-title">
      {{#link-to 'page' content}}{{title}}{{/link-to}}
    </h2>

    <ul id="sections-nav" class="no-bullet">
      {{#each s in sectionsSorted}}
        {{section-item section=s page=page}}
      {{/each}}
      <li>
        <a {{action 'zoomIn'}}>
          <i class="zoom-control icon-zoomin"></i>
        </a>
      </li>
      <li>
        <a {{action 'zoomOut'}}>
          <i class="zoom-control icon-zoomout"></i>
        </a>
      </li>
      {{outlet section-controls}}
    </ul>

    {{#if dziPath}}
      {{seadragon-image bounds-rect=boundsRect sections=sections section=section dziUrl=dziUrl zoom=zoom sdZoom="sdZoom" sdBounds="sdBounds" sectionMoved="sectionMoved"}}
    {{/if}}

  </div>
  <div class="medium-4 large-5 small-12 columns section-column size-to-height" data-size-when="isMedium">
    {{outlet}}
  </div>
</div>
