<!-- Main Blog Content -->
<header>
  <div class="row">
    <div class="large-6 small-6 columns">
      <h1 class="left">{{#link-to 'treatise' treatise.key}}{{treatise.title}}{{/link-to}}</h1>
    </div>
    <div class="large-6 small-6 columns">
      <ul class="inline-list page-links right">
        {{#if prevPage}}
        <li>
          {{#link-to 'page' prevPage.slug title=prevPage.title}}
            <i class="icon-arrow-left"></i>
          {{/link-to}}
        </li>
        {{/if}}
        {{#if nextPage}}
        <li>
          {{#link-to 'page' nextPage.slug title=nextPage.title}}
            <i class="icon-arrow-right"></i>
          {{/link-to}}
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</header>
<div class="row">
  <div class="large-7 medium-8 small-12 columns">
    <h2 class="page-title">
      {{#link-to 'page' content}}{{title}}{{/link-to}}
    </h2>

    <ul id="sections-nav" class="no-bullet">
      <li>
        {{#link-to 'page.index' page.slug class="page-link"}}
          <i class="icon-file"></i>
        {{/link-to}}
      </li>
      {{#each s in sectionsSorted itemController='section'}}
        <li class="section-number">
          {{#link-to 'page.section' page.slug s.sortOrder}}
            {{s.sortOrder}}
          {{/link-to}}
        </li>
      {{/each}}
      <li>
        <a {{action 'zoomIn'}}>
          <i class="zoom-control icon-zoomin"></i>
        </a>
      </li>
      <li>
        <a {{action 'zoomOut'}}>
          <i class="zoom-control icon-zoomout"></i>
        </a>
      </li>
      {{#if session.currentUser.isAdmin}}
      <li>
        <a {{action 'toggleEditMode'}}>
          <i {{bind-attr class=":icon-pencil :edit-mode-toggle editMode:active"}}></i>
        </a>
      </li>
      {{/if}}
    </ul>

    {{page-image bounds-rect=boundsRect sections=sections section=section dziUrl=dziUrl zoom=zoom sdZoom="sdZoom" sdBounds="sdBounds" sectionMoved="sectionMoved" editMode=editMode sectionClicked="sectionClicked"}}

  </div>
  <div class="medium-4 large-5 small-12 columns section-column size-to-height" data-size-when="isMedium">
    {{outlet}}
  </div>
</div>
